---
kind: AppProject
apiVersion: argoproj.io/v1alpha1
metadata:
  name: namespace-{{ namespace }}
spec:
  clusterResourceWhitelist:
  - group: "*"
    kind: "*"
  destinations:
  - namespace: "*"
    server: "*"
  sourceNamespaces:
  - {{ namespace }}
  sourceRepos:
  - "*"