[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
ansible-requirements = "ansible-galaxy install -r galaxy-requirements.yml"
