ansible==4.1.0
ansible-core==2.11.1
ansible-lint==5.0.12
bracex==2.1.1
cffi==1.14.5
colorama==0.4.4
commonmark==0.9.1
cryptography==3.4.7
enrich==1.2.6
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==20.9
pathspec==0.8.1
pycparser==2.20
Pygments==2.9.0
pyparsing==2.4.7
PyYAML==5.4.1
resolvelib==0.5.4
rich==10.4.0
ruamel.yaml==0.17.9
ruamel.yaml.clib==0.2.2
six==1.16.0
tenacity==7.0.0
wcmatch==8.2
yamllint==1.26.1
