apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ repo_home_apps_name }}
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: ''
    namespace: argocd
    server: 'https://kubernetes.default.svc'
  source:
    path: {{ repo_home_apps_path }}
    repoURL: '{{ repo_home_apps_url }}'
    targetRevision: HEAD
  sources: []
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true