---

################################################################################
# Setup k3s service
#

- name: Copy K3s service file
  register: k3s_service
  template:
    src: "k3s.service.j2"
    dest: "{{ systemd_dir }}/k3s.service"
    owner: root
    group: root
    mode: 0644

- name: Enable and check K3s service
  systemd:
    name: k3s
    daemon_reload: yes
    state: restarted
    enabled: yes

################################################################################
# node-token tasks
#

- name: Wait for node-token
  wait_for:
    path: "{{ data_dir }}/server/node-token"

- name: Register node-token file access mode
  stat:
    path: "{{ data_dir }}/server/node-token"
  register: p

- name: Change file access node-token
  file:
    path: "{{ data_dir }}/server/node-token"
    mode: "g+rx,o+rx"

- name: Read node-token from master
  slurp:
    path: "{{ data_dir }}/server/node-token"
  register: node_token

- name: Store Master node-token
  set_fact:
    token: "{{ node_token.content | b64decode | regex_replace('\n', '') }}"

- name: Restore node-token file access
  file:
    path: "{{ data_dir }}/server/node-token"
    mode: "{{ p.stat.mode }}"

################################################################################
# Create ctl commands
#

- name: Copy k3s.sh for symlink'd commands
  register: k3s_symlink
  template:
    src: "k3s.sh.j2"
    dest: "{{ bin_dir }}/k3s.sh"
    owner: root
    group: root
    mode: 0755
  when:
    - data_dir is defined
    - data_dir != '/var/lib/rancher/k3s'

- name: Determine k3s bin target
  set_fact:
    k3s_bin_target: "{{ '{{ bin_dir }}/k3s.sh' if data_dir != '/var/lib/rancher/k3s' else '{{ bin_dir }}/k3s' | default('{{ bin_dir }}/k3s') }}"

- name: Create symlink'd commands (kubectl, crictl, ctr)
  file:
    src: "{{ k3s_bin_target }}"
    dest: "{{ bin_dir }}/{{ item }}"
    state: link
  with_items:
    - kubectl
    - crictl
    - ctr

################################################################################
# Setup {{ ansible_user }}/.kube/config
#

- name: Create directory .kube
  file:
    path: ~{{ ansible_user }}/.kube
    state: directory
    owner: "{{ ansible_user }}"
    mode: "u=rwx,g=rx,o="

- name: Copy config file to user home directory
  copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: ~{{ ansible_user }}/.kube/config
    remote_src: yes
    owner: "{{ ansible_user }}"
    mode: "u=rw,g=,o="

- name: Replace https://localhost:6443 by https://master-ip:6443
  command: >-
    {{ bin_dir }}/kubectl config set-cluster default
      --server=https://{{ master_ip }}:6443
      --kubeconfig ~{{ ansible_user }}/.kube/config
  changed_when: true

# Fetch a copy of the cluster config for use in one's ~/.kube/config.
- name: Copy .kube/config for new cluster
  fetch:
    src: "~{{ ansible_user }}/.kube/config"
    dest: "{{ cluster_config }}"
    flat: yes
  run_once: true

