apiVersion: v1
kind: Secret
metadata:
  name: k8s-frambozen-argocd-repository
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
data:
  name: cm9vdC1hcHBsaWNhdGlvbg==
  sshPrivateKey: >-
    {{ argocdPrivateKey }}
  type: Z2l0
  url: Z2l0QGdpdGh1Yi5jb206UmFscGhTbWVldHMvazhzLWZyYW1ib3plbi1hcmdvY2QuZ2l0
