---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: private-cluster-issuer
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: default-cluster-issuer
spec:
  {{cert_manager_cluster_issuer_spec | to_nice_yaml | trim | indent(2)}}
---
#{% if cert_manager_cluster_issuer_secret_name and cert_manager_cluster_issuer_secret_data %}
apiVersion: v1
kind: Secret
metadata:
  name: "{{ cert_manager_cluster_issuer_secret_name }}"
type: Opaque
stringData:
  {{cert_manager_cluster_issuer_secret_data | to_nice_yaml | trim | indent(2)}}
#{% endif %}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "{{ ingress_hostname }}-cert"
spec:
  secretName: "{{ ingress_hostname }}-cert"
  issuerRef:
    name: default-cluster-issuer
    kind: ClusterIssuer
  dnsNames:
    - "{{ ingress_hostname }}"
    - "*.{{ ingress_hostname }}"
  secretTemplate:
    annotations:
      reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
      reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
