#{%- for config in k3s_helm_config %}
---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: {{ config.name }}
  namespace: {{ config.namespace }}
spec:
  valuesContent: |-
    {{ config.values_content | trim | indent(4)}}
#{%- endfor %}