---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "{{ ingress_hostname }}-cert"
  namespace: default
spec:
  secretName: "{{ ingress_hostname }}-cert"
  issuerRef:
    name: default-cluster-issuer
    kind: ClusterIssuer
  commonName: "*.{{ ingress_hostname }}"
  dnsNames:
    - "*.{{ ingress_hostname }}"
  secretTemplate:
    annotations:
      reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
      reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
---
apiVersion: traefik.io/v1alpha1
kind: TLSStore
metadata:
  name: default
  namespace: default
spec:
  defaultCertificate:
    secretName: "{{ ingress_hostname }}-cert"
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: security-oauth2-headers
spec:
  headers:
    stsSeconds: 315360000
    browserXssFilter: true
    contentTypeNosniff: true
    forceSTSHeader: true
    stsIncludeSubdomains: true
    stsPreload: true
    frameDeny: true
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: security-oauth2-forward
spec:
  forwardAuth:
    address: https://security-oauth.{{ ingress_hostname }}/oauth2/auth
    trustForwardHeader: true
    authResponseHeadersRegex: ^X-
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: security-oauth2-errors
spec:
  errors:
    status:
      - "401-403"
    service:
      name: oauth2-proxy
      port: 80
    query: "/oauth2/sign_in?rd={url}"
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: security-oauth2-https-only
spec:
  redirectScheme:
    scheme: https
    permanent: true
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: security-oauth2-https-headers-transform
spec:
  plugin:
    htransformation:
      Rules:
        - Name: "Header transformation"
          Header: "X-Auth-Request-Preferred-Username"
          Value: "X-Auth-Request-User"
          Type: "Rename"
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: security-oauth2
spec:
  chain:
    middlewares:
      - name: security-oauth2-https-only
      - name: security-oauth2-headers
      - name: security-oauth2-errors
      - name: security-oauth2-forward
      - name: security-oauth2-https-headers-transform
