---
- name: Enable cgroup via boot commandline if not already enabled for Archlinux
  lineinfile:
    path: /boot/boot.txt
    search_string: setenv bootargs console=ttyS1,115200 console=tty0 root=PARTUUID=${uuid} rw rootwait smsc95xx.macaddr="${usbethaddr}"
    line: setenv bootargs console=ttyS1,115200 console=tty0 root=PARTUUID=${uuid} rw rootwait smsc95xx.macaddr="${usbethaddr}" cgroup_enable=cpuset cgroup_memory=1 cgroup_enable=memory

- name: Create
  shell: ./mkscr
  args:
    chdir: /boot
  notify: reboot
