#!/bin/bash

# Function to log messages with date
log_message() {
    local MESSAGE=$1
    echo "$(date '+%Y-%m-%d %H:%M:%S') - $MESSAGE"
}

custom_reboot(){
  log_message "Attempting a normal reboot..."
  /sbin/reboot

  # Wait for 60 seconds to allow the system to reboot
  log_message "Waiting for 60 seconds for the reboot to occur..."
  sleep 60

  # Check if the system is still running by checking a simple process like 'uptime'
  if uptime >/dev/null 2>&1; then
    log_message "System has not rebooted within 60 seconds. Forcing a reboot..."
    
    # Perform a forced reboot
    /sbin/reboot -f
  else
    log_message "System has successfully started rebooting."
  fi
}

# Define the volumes/partitions to check
VOLUMES=({% for item in extra_volumes | dict2items %} "{{ item.value.path }}" {% endfor %})

# Flag to track if any volume is missing
MISSING_VOLUME=false

# Loop through each volume to check if it exists
for VOLUME in "${VOLUMES[@]}"; do
    if lsblk | grep -q " $VOLUME"; then
        log_message "Volume $VOLUME found. No action required." | tee "$VOLUME/.ensure"
    else
        log_message "Volume $VOLUME not found. Rebooting the system."
        MISSING_VOLUME=true
    fi
done

# Reboot the machine if any volume is missing
if [ "$MISSING_VOLUME" = true ]; then
  log_message "Rebooting the system..."
  custom_reboot
else
  log_message "Mount volumes just in case..."
  mount -a
fi
