apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration

shutdownGracePeriod: {{ kubelet_config_shutdown_grace_period }}
shutdownGracePeriodCriticalPods: {{ kubelet_config_shutdown_grace_period_critical_pods }}
