---

- name: Clean previous runs of k3s-init
  systemd:
    name: k3s-init
    state: stopped
  failed_when: false

- name: Clean previous runs of k3s-init
  command: systemctl reset-failed k3s-init
  failed_when: false
  changed_when: false
  args:
    warn: false  # The ansible systemd module does not support reset-failed

- name: Init cluster inside the transient k3s-init service
  command:
    cmd: "systemd-run -p RestartSec=2 \
                      -p Restart=on-failure \
                      --unit=k3s-init \
                      k3s server {{ server_init_args }}"
    creates: "{{ systemd_dir }}/k3s.service"
  args:
    warn: false  # The ansible systemd module does not support transient units

- name: Verification
  block:
    - name: Verify that all nodes actually joined (check k3s-init.service if this fails)
      command:
        cmd: k3s kubectl get nodes -l "node-role.kubernetes.io/master=true" -o=jsonpath="{.items[*].metadata.name}"
      register: nodes
      until: nodes.rc == 0 and (nodes.stdout.split() | length) == (groups['k3s_server'] | length)
      retries: 20
      delay: 10
      changed_when: false
  always:
    - name: Kill the temporary service used for initialization
      systemd:
        name: k3s-init
        state: stopped
      failed_when: false

################################################################################
# Setup k3s service
#

- name: Copy K3s service file
  register: k3s_service
  template:
    src: "k3s.service.j2"
    dest: "{{ systemd_dir }}/k3s.service"
    owner: root
    group: root
    mode: 0644

- name: Enable and check K3s service
  systemd:
    name: k3s
    daemon_reload: "{{ 'yes' if k3s_service.changed else 'no' }}"
    state:  "{{ 'restarted' if k3s_service.changed else 'started' }}"
    enabled: yes

################################################################################
# node-token tasks
#

- name: Wait for node-token
  wait_for:
    path: "{{ data_dir }}/server/node-token"

- name: Register node-token file access mode
  stat:
    path: "{{ data_dir }}/server/node-token"
  register: p

- name: Make node-token world-readable
  file:
    path: "{{ data_dir }}/server/node-token"
    mode: 0644

- name: Read node-token from the server
  slurp:
    path: "{{ data_dir }}/server/node-token"
  register: node_token

- name: Store the server node-token
  set_fact:
    token: "{{ node_token.content | b64decode | regex_replace('\n', '') }}"

- name: Restore node-token file access
  file:
    path: "{{ data_dir }}/server/node-token"
    mode: "{{ p.stat.mode }}"

################################################################################
# Create ctl commands
#

- name: Copy k3s.sh for symlink'd commands
  register: k3s_symlink
  template:
    src: "k3s.sh.j2"
    dest: "{{ bin_dir }}/k3s.sh"
    owner: root
    group: root
    mode: 0755
  when:
    - data_dir is defined
    - data_dir != '/var/lib/rancher/k3s'

- name: Determine k3s bin target
  set_fact:
    k3s_bin_target: "{{ '{{ bin_dir }}/k3s.sh' if data_dir != '/var/lib/rancher/k3s' else '{{ bin_dir }}/k3s' | default('{{ bin_dir }}/k3s') }}"

- name: Create symlink'd commands (kubectl, crictl, ctr)
  file:
    src: "{{ k3s_bin_target }}"
    dest: "{{ bin_dir }}/{{ item }}"
    state: link
  with_items:
    - kubectl
    - crictl
    - ctr

################################################################################
# Setup {{ ansible_user }}/.kube/config
#

- name: Create directory .kube
  file:
    path: ~{{ ansible_user }}/.kube
    state: directory
    owner: "{{ ansible_user }}"
    mode: "u=rwx,g=rx,o="

- name: Copy config file to user home directory
  copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: ~{{ ansible_user }}/.kube/config
    remote_src: yes
    owner: "{{ ansible_user }}"
    mode: "u=rw,g=,o="

- name: Replace https://localhost:6443 by https://{{ apiserver_endpoint }}:6443
  command: >-
    {{ bin_dir }}/kubectl config set-cluster default
      --server=https://{{ apiserver_endpoint }}:6443
      --kubeconfig ~{{ ansible_user }}/.kube/config
  changed_when: true

# Fetch a copy of the cluster config for use in one's ~/.kube/config.
- name: Copy .kube/config for new cluster
  fetch:
    src: "~{{ ansible_user }}/.kube/config"
    dest: "{{ cluster_config }}"
    flat: yes
  run_once: true
