#!/bin/bash

# k3s.sh is used to supply the --data-dir argument to k3s for symlink'd commands.
# Note: this file is only present when data_dir is defined.

K3S_BIN="{{ bin_dir }}/k3s"
DATA_DIR="{{ data_dir }}"

BASENAME="${0##*/}"

if [ -z "${DATA_DIR}" ]
then
	echo "k3s.sh: DATA_DIR is not set.  Something went wrong with the ansible installation." 1>&2
	exit 255
fi

if [ "${BASENAME}" = "k3s.sh" ]
then
	"${K3S_BIN}" --data-dir "${DATA_DIR}" "${@}"
else
	"${K3S_BIN}" --data-dir "${DATA_DIR}" "${BASENAME}" "${@}"
fi

