---
- name: Cluster prep
  hosts: k3s_cluster
  gather_facts: true
  become: true
  roles:
    - role: prereq
    - role: airgap
    - role: raspberrypi

- name: Setup K3S server
  hosts: server
  become: true
  roles:
    - role: k3s_server

- name: Setup K3S agent
  hosts: agent
  become: true
  roles:
    - role: k3s_agent

# playbooks/setup-oled.yml
- hosts: node1
  become: true
  roles:
    - role: oled_display
  tags: oled

# playbooks/setup-oled.yml
# - hosts: server
#   become: true
#   roles:
#     - role: argocd
#   tags: argocd