---
- name: Fetch and Configure Kubeconfig
  hosts: server[0]
  become: true
  vars:
    # Define the local file name for the kubeconfig
    local_kubeconfig_file: "kubeconfig_cg_cluster.yaml"
    # Use the api_endpoint if defined, otherwise use the ansible_host
    server_ip: "{{ api_endpoint | default(ansible_host) }}"

  tasks:
    - name: Read k3s.yaml from the server
      ansible.builtin.slurp:
        src: /etc/rancher/k3s/k3s.yaml
      register: k3s_config_base64

    - name: Decode and process kubeconfig
      ansible.builtin.set_fact:
        k3s_config_content: "{{ k3s_config_base64.content | b64decode | regex_replace('https://127.0.0.1:6443', 'https://' + server_ip + ':6443') }}"

    - name: Save kubeconfig to local file
      ansible.builtin.copy:
        content: "{{ k3s_config_content }}"
        dest: "{{ playbook_dir }}/../{{ local_kubeconfig_file }}"
        mode: '0600'
      delegate_to: localhost
      become: false

    - name: Display success message
      ansible.builtin.debug:
        msg: "Kubeconfig saved to {{ playbook_dir }}/../{{ local_kubeconfig_file }}. You can share this file with others."
